<h1>Add a Task</h1>

<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2">First Name: *</label>
        <input name="firstName" id="firstName" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">last Name: *</label>
        <input name="lastName" id="lastName" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Type: *</label>
        <select name="type" id="type">
            <option>Cheese</option>
            <option>Veggie</option>
            <option>Meat</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Size: *</label>
        <select name="Size" id="Size">
            <option>S</option>
            <option>M</option>
            <option>L</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Quantity: *</label>
        <select name="quantity" id="quantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </fieldset>
    <button class="col-md-offset-2 btn btn-primary">Save</button>
</form>